* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	display: flex;
    min-height: 100vh;
	align-items: center;
	justify-content: center;
	.tabela {
		max-width: 1800px;
		max-height: 1000px;
		background-color: rgb(198, 229, 230);
		align-items: center;
		justify-content: center;

		.space {
			display: flex;
			justify-content: space-around;
			margin: 10px;
		}
		.deleteAll {
			width: 90px;
			margin: 10px;
			height: 60px;
		}
		
	}
	#checkbox{
		margin-left: 40px;
		height: 20px;
		width: 20px;
		accent-color: #5981b6;
	}
	button{
		height: 40px;
		width: 60px;
		margin: 10px;
	}
}
